.BasketWidget {
  width: 150px;
  height: 161px;
  border-radius: 24px;
  background-color: #232526;
  padding: 24px;
  position: fixed;
  top: 132px;
  left: 700px;
  z-index: 10;

  @media screen and (max-width: 1200px) {
    left: calc(100vw - 350px);
  }

  @media screen and (max-width: 822px) {
    left: 472px;
  }

  @media screen and (max-width: 672px) {
    left: 0;
    bottom: 0;
    top: auto;
    height: 81px;
    border-radius: 0;
    width: 100%;
  }

  @media screen and (min-width: 1201px) {
    left: calc(100% / 2 + 200px);
  }
}