.AsteroidCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &>div>span {
    font-style: italic;
    font-size: 14px;
    color: orange;
  }
}

.blockTitle {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}